<header id="header" class="container">
<div id="mast-head">
  <div id="logo">
    <%= link_to "Acción Catolica", root_path  %>
    <% link_to image_tag("logo.png", alt: "Accion Catolica"), root_path, title: "Accion Catolica" %>
  </div>
</div>


<nav class="navbar navbar-inverse clearfix nobot">

<a id="responsive-menu-button" href="#swipe-menu">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>		
</a>	

<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
<div class="nav-collapse" id="swipe-menu-responsive">

  <ul class="nav">

    <li>
    <span id="close-menu">
      <a href="#" class="close-this-menu">Close</a>
      <script type="text/javascript">
        jQuery('a.sidr-class-close-this-menu').click(function(){
            jQuery('div.sidr').css({
              'right': '-476px'
              });
            jQuery('body').css({
              'right': '0'
              });							
            });
</script>

        </span>

        </li>

        <li><%= link_to image_tag("home.png", alt: "Accion Catolica"), root_path, title: "Accion Catolica" %></li>

        <% Page.order(:created_at).roots.each do |page| %>
          <li class="dropdown"><%= link_to page.name , "#" %>

        <% if page.children.present? %>
          <ul class="sub-menu">
            <% page.children.each do |children| %>
              <li><%= link_to children.name, children %></li>
            <% end%>
          </ul>
        <% end %>

        </li>
      <% end %>

    </ul>

  </div><!--/.nav-collapse -->

  </nav><!-- /.navbar -->

  </header><!-- #masthead -->
